
.container, body{
    background-color: #001e44;
}

.sticky-header{
    flex-grow: 0;
    z-index: 2;
    position: relative;
}

.login_card{
    width: 20em;
    margin: 4em 0em;
    padding: 10px;
    text-align: center;
}

.login_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.width_form{
    width: 100%;
}

.button{
    height: 50px;
}

.footer{
    background-color:   #af0d0d;
    padding: 10px 10px;
    color: #fff;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
}

.footer-content{
    justify-content: center;
}

.footer-brand p {
    font-size:14px;
    color:rgba(255,255,255,0.70);
    margin-bottom: 4px;
}

.spinner{
    margin: 0 auto;
}

@media (max-width: 700px) {
    .login_card {
        width: 80%;
        display: flex;
    }
    img, mat-form-fiel{
        width: 35%;
    }
    .login_content{
        width: 100%;
    }
    .footer{
        position: relative;
    }
   
}

@media screen and (max-width: 1000px) {
    .absolute {
        position: relative;
    }
}