<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urbe Digital</title>
</head>

<body>
    <div class="app">
        <div class="header">
            <p>
                <mat-toolbar>
                    <span>Urbe Digital</span>
                </mat-toolbar>
            </p>
        </div>
        <div class="body">
            <div class="login">

                <mat-card class="login">
                    <form [formGroup]="form">
                        <img src="../../../assets/img/user.png" width=50%>
                        <h1 class="">Iniciar Sesión</h1>
                        <mat-form-field class="width_class" appearance="fill">
                            <mat-label>Usuario</mat-label>
                            <input type="text" name="userId" onkeypress="" matInput autocomplete="off"
                                formControlName="usuario">
                        </mat-form-field>
                        <mat-form-field class="width_class" appearance="fill">
                            <mat-label>Contraseña</mat-label>
                            <input type="password" matInput autocomplete="off" formControlName="clave">
                        </mat-form-field>
                        <br>
                        <button type="button" (click)="sendData(form.value)" class="width_class button"
                            mat-raised-button color="primary" [disabled]="form.invalid">Ingresar</button>
                    </form>
                </mat-card>
            </div>
        </div>
        <div class="footer">
            <p>Universidad Privada Dr. Rafael Belloso Chacín. Dirección de Tecnologías de la Información - Unidad de
                Servicios Web © 2021 Powered by Servieduca All rights reserved</p>
        </div>
    </div>
</body>
</html>