.ancho{
    width: 75%;
}

.img_espacio{
    width: 120px;
    height: 120px;
    padding: 5px;
}

.espacio_card{
    margin: 2em 0em;
    padding: 10px;
}


.agg_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.agg_card{
    width: 75%;
    padding: 10px;
    text-align: center;
    margin: 2em 0em;
}
@media (max-width: 700px) {
    
    .agg_card{
        display: flex;
        width: 100%;
    }
  
}
@media (max-width: 700px) {
    .agg_content {
        width: 100%;
        position: absolute;
    }
    .img_espacio{
        display: none;
    }
    
}


