.ancho{
    width: 75%;
}

.img_espacio{
    width: 120px;
    height: 120px;
    padding: 5px;
}

.espacio_card{
    margin: 2em 0em;
    padding: 10px;
}

.content-app{
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.agg_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.agg_card{
    width: 95%;
    padding: 10px;
    text-align: center;
    margin: 2em 0em;
}
@media (max-width: 700px) {
    
    table{
        display: flex;
        width: 50%;
    }
    .agg_card{
        display: flex;
        width: 80%;
    }
}

@media (max-width: 700px) {
    .espacio_content {
        width: 60%;
        position: absolute;
    }
    .img_espacio{
        display: none;
    }
    
}


