editar_card{
    width: 20em;
    margin: 6em 0em;
    padding: 28px;
    text-align: center;
}

.editar_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}