/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
    padding: 0;
    margin: 0;
}
.content-app{
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;

}
.example-spacer{
    flex: 1 1 auto;
}