* {
    padding: 0;
    margin: 0;
}
.app{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.content-app{
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.dist-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.mat-form-field {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 14px;
  width: 50%;
}
table {
    width: 850px;
    justify-content: center;
    
  }
  .example-container {
    height: 450px;
    width: 550px;
    overflow: auto;
    max-width: 100%;
    margin-top: 30px;
    margin-block-end: 30px;
    justify-content: center;
  }
  
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  
  .mat-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
  }


  @media (max-width: 700px) {
    table {
        width: 75%;
    }
}
@media screen and (max-width: 1000px) {
    .absolute {
        position: relative;
    }
}